In [22]:
%pip install pandas numpy matplotlib seaborn
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

# Importing libraries
import numpy as np # operaciones matematicas
import pandas as pd # manipular datos
import matplotlib.pyplot as plt # graficas
import seaborn as sns # graficas
sns.set_theme(style="darkgrid")
%matplotlib inline

# Data display customization
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

Requirement already satisfied: pandas in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (2.2.4)
Requirement already satisfied: matplotlib in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (3.10.1)
Requirement already satisfied: seaborn in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\2373234\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\2373234\appdata\roaming\python\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
#### Funciones auxiliares ######
def porcentaje_nulos(dataframe):
    # Calcula el porcentaje de valores nulos en cada columna
    porcentaje_nas = (dataframe.isnull().mean() * 100).round(2)

    # Convierte la informaci√≥n a un diccionario
    dict_nulos = porcentaje_nas.to_dict()

    return dict_nulos

def eliminar_columnas_con_nulos(df, umbral=0.15):

    # Calcula el porcentaje de valores nulos por columna
    porcentaje_nulos = df.isnull().mean()

    # Filtra las columnas que tienen menos del umbral de valores nulos
    columnas_a_mantener = porcentaje_nulos[porcentaje_nulos <= (1 - umbral)].index

    # Crea un nuevo DataFrame con las columnas seleccionadas
    df_resultante = df[columnas_a_mantener].copy()

    return df_resultante

In [24]:
customer_df = pd.read_csv('archive/customer.csv')
customer_df.shape

(10695, 10)

In [25]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10695 entries, 0 to 10694
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               10695 non-null  int64
 1   Gender           10695 non-null  object
 2   Ever_Married     10505 non-null  object
 3   Age              10695 non-null  int64
 4   Graduated        10593 non-null  object
 5   Profession       10533 non-null  object
 6   Work_Experience  9597 non-null   float64
 7   Spending_Score   10695 non-null  object
 8   Family_Size      10247 non-null  float64
 9   Var_1            10587 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 835.7+ KB

In [26]:
customer_df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6

In [27]:
customer_df.describe()

                  ID           Age  Work_Experience   Family_Size
count   10695.000000  10695.000000      9597.000000  10247.000000
mean   463468.088640     43.511828         2.619777      2.844052
std      2600.966411     16.774158         3.390790      1.536427
min    458982.000000     18.000000         0.000000      1.000000
25%    461220.500000     30.000000         0.000000      2.000000
50%    463451.000000     41.000000         1.000000      3.000000
75%    465733.500000     53.000000         4.000000      4.000000
max    467974.000000     89.000000        14.000000      9.000000

In [28]:
customer_df.describe(include='object')

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count   10695        10505     10593      10533          10695  10587
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     5841         6163      6570       3318           6494   6910

In [29]:
customer_df.corr(numeric_only=True)

                       ID       Age  Work_Experience  Family_Size
ID               1.000000 -0.009562        -0.029351     0.014095
Age             -0.009562  1.000000        -0.189653    -0.281725
Work_Experience -0.029351 -0.189653         1.000000    -0.065163
Family_Size      0.014095 -0.281725        -0.065163     1.000000

In [30]:
%pip install jinja2
customer_df.corr(numeric_only=True).style.background_gradient(cmap='coolwarm')

Requirement already satisfied: jinja2 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (3.1.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\2373234\appdata\local\programs\python\python312\lib\site-packages (from jinja2) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
porcentaje_nulos(customer_df)

{'ID': 0.0,
 'Gender': 0.0,
 'Ever_Married': 1.78,
 'Age': 0.0,
 'Graduated': 0.95,
 'Profession': 1.51,
 'Work_Experience': 10.27,
 'Spending_Score': 0.0,
 'Family_Size': 4.19,
 'Var_1': 1.01}